<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="ko">

<th:block th:include="/layout/header"></th:block>

<link rel="stylesheet" type="text/css" href="/css/board/create.css" />

<script src="/js/board/edit.js"></script>

<head>
    <title>게시글 수정</title>
</head>
<body>
    <form id="editForm">
        <div class= "form-container">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요.">

            <label for="title">작성자</label>
            <input type="text" id="writer" name="writer" class="form-control" placeholder="내용을 입력하세요.">
        </div>

        <label for="content">내용</label>
        <textarea id="content" name="content" cols="400" placeholder="내용을 입력하세요."></textarea>
    </form>

    <button id="updateBtn">수정</button>

<!--    <form id="boardForm">-->
<!--        <div class= "form-container">-->
<!--            <label for="title">제목</label>-->
<!--            <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요.">-->

<!--            <label for="writer">작성자</label>-->
<!--            <input type="text" id="writer" name="writer" class="form-control" placeholder="작성자명을 입력하세요.">-->
<!--        </div>-->

<!--        <label for="content">내용</label>-->
<!--        <textarea id="content" name="content" cols="400" placeholder="내용을 입력하세요."></textarea>-->

<!--        <button id="updateBtn">수정</button>-->
<!--        <button><a href="/board/list">취소</a></button>-->
<!--    </form>-->
</body>
</html>