@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

*, code, kbd, pre, samp, .btn {
	font-family: 'Nanum Gothic', 'Sans-serif' !important;
	font-weight: 300;
}

b, strong, h1, h2, h3, h4, h5, h6 {
	font-family: 'Nanum Gothic', 'Sans-serif' !important;
	font-weight: 400 !important;
}
html {}
body {
	min-width: 1440px;
	overflow-x: auto;
}

.content-wrapper, .right-side {
	min-height: calc(100% - 50px);
}

.dataTables_wrapper {
	.dataTables_info,
	.dataTables_paginate {
		margin-top: 20px;
	}
}

.animation-spin {
	display: inline-block;
	-webkit-animation: animation-spin 2s infinite linear;
	animation: animation-spin 2s infinite linear;
}

@-webkit-keyframes animation-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes animation-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.mbsc {
	&-control-w {
		font-size: 14px;
	}
	&-mobiscroll {
		&.mbsc-form {
			background-color: transparent;
		}
		&.mbsc-ltr {
			.mbsc-select {
				input {
					padding: 0 10px;
				}
			}
		}
		.mbsc-radio {
			display: inline-block;
			padding: 0 2.5em 0 0;
		}
		.mbsc-fr-w {
			background: #FFF;
		}
		.mbsc-input {
			padding: 0;
			input {
				border: 1px solid #D2D6DE;
				color: #555;
			}
		}
		.mbsc-select-ic {
			right: 10px;
			top: 7px;
		}
	}
	&-sel {
		.mbsc-ltr {
			.mbsc-sel-filter-cont {
				.mbsc-sel-filter-input {
					padding: 1.5em;
				}
			}
		}
	}
}

table {
	th {
		.required {
			position: relative;
			&:after {
				content: '';
				width: 5px;
				height: 5px;
				background-color: #FF0400;
				display: inline-block;
				position: absolute;
				border-radius: 50%;
				top: 5px;
				left: 8px;
			}
		}
	}
}

.dataTable {
	margin-bottom: 0 !important;
	> thead > tr > th {
		vertical-align: middle !important;
		&.dt-head-center {
			text-align: center;
		}
		&.dt-head-left {
			text-align: left;
		}
		&.dt-head-right {
			text-align: right;
		}
		&.sorting:after, &.sorting_asc:after, &.sorting_desc:after {
			font-family: 'icons_mobiscroll' !important;
			speak: none;
			font-style: normal;
			font-weight: 300;
			font-variant: normal;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&.sorting:after {
			content: '\ecc5' !important;
		}
		&.sorting_desc:after {
			content: '\ecc0' !important;;
		}
		&.sorting_asc:after {
			content: '\ecbf' !important;;
		}
	}
	> tbody > tr {
		> th {
			vertical-align: middle !important;
			&.required {
				&:after {
					content: '*';
					color: #F00;
					margin-left: 5px;
				}
			}
		}
		> td {
			vertical-align: middle !important;
			&.dt-body-center {
				text-align: center;
			}
			&.dt-body-left {
				text-align: left;
			}
			&.dt-body-right {
				text-align: right;
				padding-right: 3px;
			}
			> .btn {
				border-radius: 50%;
			}
		}
	}
}

.modal {
	.modal-header {
		> h4 {
			text-align: center;
		}
	}
}

.tooltipster {
	&-default {
		border: 1px solid #D2818E;
		color: #A94442;
		background-color: #F1D9D9;
	}
	&-success {
		border: 1px solid #89C5D2;
		background: #D3E6F0;
		color: #31708F;
	}
}

.skin-black-light {
	.sidebar-menu {
		.treeview-menu {
			> li {
				&.active {
					> a {
						font-weight: 300;
					}
				}
			}
		}
	}
}

.form-control {
	font-size: 15px;
}

label {
	font-weight: 300;
}

.mt {
	&-1 {
		margin-top: 1px;
	}
	&-2 {
		margin-top: 2px;
	}
	&-3 {
		margin-top: 3px;
	}
	&-4 {
		margin-top: 4px;
	}
	&-5 {
		margin-top: 5px;
	}
	&-10 {
		margin-top: 10px;
	}
	&-20 {
		margin-top: 20px;
	}
	&-25 {
		margin-top: 25px;
	}
}

.mb {
	&-20 {
		margin-top: 20px;
	}
}

.p {
  &-5 {
    padding : 5px !important;
  }
}

.pr {
  &-20 {
	  padding-right: 20px !important;
  }
}

.mr {
	&-10 {
		margin-right: 10px;
	}
	&-5 {
		margin-right: 5px;
	}
}

.login-page {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.main-header {
	.logo {
		.logo-lg {
			font-size: 30px;
		}
	}
	.navbar-toggle-btn {
		display: none;
	}
}

.form-horizontal .control-label {
	@media (min-width: 768px) {
		text-align: center;
	}
}

.product-table {
	table-layout: fixed;
	border-bottom: 1px solid #F4F4F4;
	.col1 { width: 10%; }
	.col2 { width: 20%; }
	th {
		color: #777;
		background: #FAFAFA;
		padding: 8px 16px !important;
	}
	td {
		color: #222;
		padding: 8px 16px !important;
	}
	.form-control {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.wrap-release {
	max-width: 1080px;
	margin: 0 auto;
	display: grid;
}

.table-product {
	.col1 {
		width: 30%;
	}
	.col2 {
		width: 70%;
	}
}

.table-release {
	table-layout: fixed;
	.col1 {
		width: 20%;
	}
	.col2 {
		width: 20%;
	}
	.color1 {
		background: #F9F9F9;
	}
	.color2 {
		background: #F4F4F8;
	}
	.release-input {
		max-width: 280px;
		width: 100%;
	}
	p {
		margin-top: 3px;
		margin-bottom: 3px;
	}
}

@media (max-width: 767px) {
	.content-wrapper, .right-side { min-height: calc(100% - 50px); }
	.main-header {
		height: 50px;
		* { vertical-align: middle; }
		i { vertical-align: baseline; }
		.logo {
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 1001;
			display: inline-block;
			max-width: 150px;
			padding: 0;
			background-color: transparent !important;
			transform: translate(-50%, 0);
		}
		.navbar-toggle-btn {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1001;
			display: inline-block;
			width: 50px;
			height: 50px;
			padding: 0;
			border: 0 none;
			background: none;
			span {
				margin-top: -1px;
				left: 50%;
				transform: translate(-50%, 0);
				&,
				&:before,
				&:after {
					position: absolute;
					top: 50%;
					width: 30px;
					height: 2px;
					background-color: #FFF;
					transition: all 0.2s ease;
				}
				&:before,
				&:after {
					content: '';
					left: 0;
				}
				&:before { margin-top: -10px; }
				&:after { margin-top: 9px; }
			}
		}
	}
	.content-wrapper { transition: opacity 0.2s ease; }
	.main-sidebar { padding-top: 50px; }
	.nav-open {
		.navbar-toggle-btn {
			span {
				background-color: transparent;
				&:before,
				&:after { margin: 0; }
				&:before { transform: rotate(45deg); }
				&:after { transform: rotate(-45deg); }
			}
		}
		.main-sidebar { transform: translate(0, 0); }
		.content-wrapper { opacity: 0.8; }
	}
}

.label-width {
  width: 100px;
  line-height: 34px;
  margin: 0 !important;
}

.label-wrapper-width {
  width: 130px;
}

.label-group {
  display: flex;
  padding: 0;
}

.icon-border {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

// datatables pagination 가운데정렬
#datatable_paginate {
  text-align: center !important;
}

.export-table {
  border: 1px solid #f4f4f4;

  > thead > tr {
    border: 1px solid #f4f4f4;
    text-align: center;

    th {
      font-weight: 700;
      padding: 8px;
      text-align: center;
      border-right: 1px solid #f4f4f4;
    }
  }
}

.export-table-row {
  padding : 5px;
  border-right: 1px solid #f4f4f4;
}
@media (max-width: 480px) {
	.main-header {
		.logo {
			left: 50px;
			width: 110px;
			transform: translate(0, 0);
			.logo-lg { font-size: 24px; }
		}
	}
	.navbar-custom-menu .navbar-nav > li > a {
		padding: 15px 5px;
	}
}
